html {
    height: 100%;
    width: 100%;
  }
  
  body {
    background-color: #f2f2f7;
    font-family: 'SF Pro Display', sans-serif;
    display: block;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
  }
  
  .container {
    max-width: 350px;
    background-color: black;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
  }
  
  .button {
    padding: 20px;
    margin: 5px;
    border: none;
    border-radius: 10px;
    font-size: 24px;
    background-color: #e4e4e7;
    color: #000;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    outline: none;
    width: 70px;
  }
  .eqbutton{
       padding: 8px 8px;
      border-radius: 10px;
      font-size: 24px;
      background-color: #fcb452;
      color: #fff;
      cursor: pointer;
      transition: background-color 0.3s, color 0.3s;
      outline: none;
      width: 20.25rem;
      margin-bottom: 9px;
  }
  
  .button:hover {
    background-color: #d1d1d6;
    color: #000;
  }
  
  .button:active {
    background-color: #b7b7bd;
    color: #000;
  }
  
  .button.operator {
    background-color: #fcb452;
    color: #fff;
  }
  
  .button.operator:hover {
    background-color: #faa633;
    color: #fff;
  }
  
  .button.operator:active {
    background-color: #e08c29;
    color: #fff;
  }
  
  .button.equal {
    background-color: #ff6f00;
    color: #fff;
  }
  
  .button.equal:hover {
    background-color: #e65c00;
    color: #fff;
  }
  
  .button.equal:active {
    background-color: #cc5500;
    color: #fff;
  }
  
  .row .input {
    width: 20rem;
    padding-top: 20px;
    border-radius: 10px;
    font-size: 48px;
    text-align: right;
    outline: none;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 6px;
    grid-column: span 3;
  }
  
  
  
  h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #000;
    text-align: center;
  }
  
  .text-center {
    text-align: center;
  }
  
  .mx-auto {
    margin: auto;
  }
  
  .flex {
    display: flex;
  }
  
  .flex-col {
    flex-direction: column;
  }
  
  .items-center {
    align-items: center;
  }
  